@model IEnumerable<CarFuel.Models.TodoItem>

@{
  ViewBag.Title = "Index";
}

<h2>Todo</h2>

@if (TempData["error"] != null) {
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @TempData["error"]
  </div>
}


<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.IsDone)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.AddedDate)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsDone)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.AddedDate)
      </td>
      <td>
        @if (!item.IsDone) {
          using (Html.BeginForm("MarkAsComplete", "Todo", new { id = item.Id })) {
          <button type="submit" class="btn btn-success btn-xs">Done</button>
          }
        } else {
          using (Html.BeginForm("CancelComplete", "Todo", new { id = item.Id })) {
          <button type="submit" class="btn btn-danger btn-xs">Cancel</button>
          }
        }

        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
      </td>
    </tr>
  }

</table>
